{% extends "base.html" %}
{% block content %}
        <div style="width: fit-content;" class="p-5 bg-light mx-auto border px-5 my-4">
            <p class="py-1"> Note: The user's ID will change if he already has an account</p>
            {{ form.hidden_tag() }}
            <form method="post">
                    {{ form.firstname(placeholder='His first name', class='col-md-5 alert-info p-2', style="outline:0;border:0") }}
                    {{ form.lastname(placeholder='Last name, Other names', class='col-md-6 mt-1 alert-info p-2', style="outline:0;border:0") }}<br>
                    {{ form.email(placeholder='His email address', class='col-md-10 my-3 alert-info p-2', style="outline:0;border:0") }}<br>

                {{ form.tel(placeholder='Phone: 0243456789', pattern="[0-9]{10}", class='alert-info p-2', style="outline:0;border:0") }}

                <select name="role" id="role" class="p-2 mb-5 alert-info" style="width: 170px;" required>
                    <option value="">Choose his role</option>
                    <option value="director">Director</option>
                    <option value="manager">Manager</option>
                    <option value="superviser">Superviser</option>
                    <option value="officer">Officer</option>
                    <option value="other">Other</option>
                </select>

                <div><div class="btn btn-light border-dark mt-1 float-left px-3" onclick="history.back()">Cancel</div>
                {{ form.submit(class='btn btn-primary mt-1 float-right', value='Create') }}</div>
            </form>
        </div>
{% endblock %}