{% extends "base.html" %}
{% block content %}
<div class="p-5 bg-light mx-auto border my-4" style="width:fit-content;min-width: 50%;">
    {{ form.hidden_tag() }}
    <h5 class="py-2 text-center h4">Send us a message</h5>
    <form method="post" onsubmit="return document.getElementById('ing').value = 'Processing...'">
        {{ form.email(placeholder='Your email', class="col-md-5 d-inline p-2 alert-info mt-1", style="outline:0;border:0", value=current_user.email) }}
        {{ form.name(placeholder='Your name', class="col-md-6 float-right p-2 alert-info mt-1", style="outline:0;border:0", value=current_user.fullname) }}
        <div class="row quote_2 mt-4">
            <div class="col-md-12">
              <div class="quote_2l">
                {{ form.text(class='w-100 alert-info p-2', style='height:250px') }}
              </div>
            </div>
          </div>
        <div>
            <div class="btn btn-light border-dark float-left m-2 px-3" onclick="history.back()">Cancel</div>
            {{ form.submit(class='btn btn-primary m-2 float-right', id='ing') }}
        </div>
    </form>
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='message') }}
</div>
{% endblock %}