{% extends "base.html" %}
{% block content %}
        <div style="width: fit-content;" class="p-4 bg-light mx-auto border px-5 my-4">
            <p class="workf"> Please fill this form to create your account</p>
            {{ form.hidden_tag() }}
            <form method="post">
                <p>
                    {{ form.firstname(size=40, placeholder='Your first name. Example: John') }}<br>
                </p>
                    {{ form.lastname(size=40, placeholder='Your last name. Example: Ayisi') }}<br>
                <p>
                    {{ form.email(size=40, placeholder='Your email address', class='mt-3') }}<br>
                </p>
                <p> {{ form.tel.label }}:
                    {{ form.tel(placeholder='+233243456789') }}
                </p>

                {{ form.role.label }}:
                <select name="role" id="role" style="width: 100px;">
                    <option value="director">Director</option>
                    <option value="manager">Manager</option>
                    <option value="superviser">Superviser</option>
                    <option value="officer">Officer</option>
                    <option value="other">Other</option>
                </select>
                <p>
                    {{ form.password(size=40, placeholder='password', required='required') }}<br>
                </p>
                <p> 
                    {{ form.confirm(size=40, class='b-none', placeholder='Repeat the password') }}<br>
                </p>

                <div><div class="btn btn-light border float-left m-3 p-2" onclick="history.back()">Cancel</div>
                {{ form.submit(class='btn btn-primary m-3 float-right') }}</div>
            </form>
            <a class="mt-3 d-inline-block" href="{{ url_for('login')}}">I already have an account</a>
        </div>
{% endblock %}