{% extends "base.html" %}
{% block content %}
<h4 class="border-bottom py-3 mx-auto bg-light text-center">
    {% if all > 1 %} {{ all }} persons have account on Athric {% else %}
    {{ all }} person has account on Athric {% endif %}
</h4>

{% for user in users %}
<div class="d-flex py-3 alert-success my-3 w-75 mx-auto small100" style="border-radius:25px 5px;background:linear-gradient(#ede1ee,#c5dad7);box-shadow:#c8fac6 0 2px 4px;">
    <div class="col-2">{{ user.fullname }} </div>
    <div class="col-3 pl-0">{{ user.email }} </div>
    <div class="col-3 pr-0 sm-right">{{ user.tel or '' }} </div>
    <div class="col-2 text-capitalize sm-right">{{ user.role or '' }} </div>
    {% if current_user.role in admins %}
    <div class="col-2 border-left border-white pl-0">
        {% if user.role not in admins %}
        <a href="/users/{{ user.id }}/delete"
            onclick="return confirm('Delete {{user.fullname}}\'s account?\nYou can\'t undo after deleting');">
            <div title="Delete {{ user.fullname if not user == current_user else 'Yourself' }}"
                class="btn text-danger p-1 fa fa-trash-alt"></div>
        </a>
        {% endif %}
        {% if not user.id == current_user.id %}
        <a href="{{ url_for('reset_password', id=user.id) }}"
            onclick="return confirm('You are resetting {{user.fullname}}\'s password\nYou can\'t undo after proceeding');">
            <div title="Reset {{ user.fullname }}'s password" class="btn text-primary fa fa-undo"></div>
        </a>
        {% elif current_user == user %}
        <a href="{{ url_for('profile') }}">
            <div class="btn text-primary fa fa-edit" title="Edit"></div>
        </a>
        {% endif %}
    </div>
    {% endif %}

</div>
{% endfor %}

 {% if current_user.role %}
<a href="{{ url_for('add_user')}}" class=" position-fixed fa fa-plus-circle fa-3x add"
style="right: 5%;bottom: 25px;z-index:5;opacity:.65;color: #8ebdb6;"></a>

{% endif %}

<p class="text-center mt-5">Please <a class="p-1 bg-light font-weight-bold " href="/notices/new">report</a> if you find someone with non-authorized role</p>

{% endblock %}